{% extends 'layouts/base.html' %}

{% block content %}

  {% include "includes/navigation-light.html" %}

  <div class="container mt-5">
    <div class="row">

      <h1 class="mb-4">
        Equipment
        <a href="{% url 'log:equipment-create' %}" class="btn btn-primary btn-lg float-end mt-2">Add new equipment</a>
      </h1>

      <form action="" method="get">
        {% csrf_token %}

        <div class="form-group mb-4">
          <div class="input-group">
            {{ search_form.searched_equipment }}
            <button class="btn btn-outline-primary mb-0 fas fa-search" type="submit"></button>
          </div>
        </div>
      </form>

      <div class="col-lg-12 mx-auto">
        <div class="position-relative overflow-auto shadow-lg mb-7">

          {% if equipment_list %}
            <table class="table table-bordered mb-0 table-hover">
              <tr class="thead-dark" style="transform: rotate(0);">
                <th>ID</th>
                <th>Name</th>
                <th>Inventory number</th>
                <th>Equipment type</th>
              </tr>
              {% for equipment in equipment_list %}
                <tr class="block" style="transform: rotate(0);">
                  <td>
                    <a href="{% url 'log:equipment-update' pk=equipment.id %}"
                       class="stretched-link"
                    >
                      {{ equipment.id }}
                    </a>
                  </td>
                  <td>{{ equipment.name }}</td>
                  <td>{{ equipment.inventory_number }}</td>
                  <td>{{ equipment.type }}</td>
                </tr>
              {% endfor %}
            </table>

          {% else %}
            <p>There are no equipment</p>
          {% endif %}
        </div>
      </div>

      {% include 'includes/pagination.html' %}

    </div>
  </div>

{% endblock %}
