{% extends 'layouts/base.html' %}

{% block content %}

  {% include "includes/navigation-light.html" %}

  <div class="container mt-5">
    <div class="row">

      <h1 class="mb-4">
        Task types
        <a href="{% url 'task:task-type-create' %}" class="btn btn-primary btn-lg float-end  mt-2">Create new task
          type</a>
      </h1>

      <form action="" method="get">
        {% csrf_token %}
        <div class="form-group mb-4">
          <div class="input-group">
            {{ search_form.searched_task_type }}
            <button class="btn btn-outline-primary mb-0 fas fa-search" type="submit"></button>
          </div>
        </div>
      </form>

      <div class="col-lg-12 mx-auto">
        <div class="position-relative overflow-auto shadow-lg mb-7">

          {% if task_type_list %}
            <table class="table table-bordered mb-0 table-hover">
              <tr class="thead-dark" style="transform: rotate(0);">
                <th>ID</th>
                <th>Task type name</th>
              </tr>
              {% for type in task_type_list %}
                <tr class="block" style="transform: rotate(0);">
                  <td>
                    <a href="{% url 'task:task-type-update' pk=type.id %}"
                       class="stretched-link"
                    >
                      {{ type.id }}
                    </a>
                  </td>
                  <td>{{ type.name }}</td>
                </tr>
              {% endfor %}
            </table>

          {% else %}
            <p>There are no task types</p>
          {% endif %}
        </div>
      </div>

      {% include 'includes/pagination.html' %}

    </div>
  </div>

{% endblock %}
