<footer class="footer mt-auto z-index-sticky ">
  <hr class="horizontal dark mb-5 mt-0">
    <div class="container">
      <div class="col-12">
        <div class="text-center">
          <p class="my-4 text-sm">
            Equipment Maintenance Log by &copy;
            <a
                target="_blank"
                href="https://github.com/Vlad-Peresta"
                target="_blank"
            >
              Vlad Peresta
            </a>
        </div>
      </div>
    </div>
</footer>
